[user]
	name = "${NAME}"
	email = "${EMAIL}"
[alias]
	build  = "! $GIT/build"
    check  = "! $GIT/check"
	ignore = "! $GIT/root"
	remove = "! $GIT/remove"
	readme = "! $GIT/readme"
	rename = "! $GIT/rename"
	root   = "! $GIT/root"
	update = "! $GIT/update"

