[user]
	name = David Härer
    email = david@familie-haerer.de
; TODO: Extract alias functions into scripts.
[alias]
	build  = "! $GIT/build"
    todo   = "! $GIT/todo"
	ignore = "! $GIT/root"
	remove = "! $GIT/remove"
	readme = "! $GIT/readme"
	rename = "! $GIT/rename"
	root   = "! $GIT/root"
	update = "! $GIT/update"

