[user]
	name = David Härer
	email = david@familie-haerer.de
[alias]
	root = "rev-parse --show-toplevel"
	ignore = "!f() { echo "${1}" >> $(git root)/.gitignore; }; f"
	update = "!f() { git add ${1} && git commit -m ${1}; }; f"
