.NERDTreeBookmarks
.cache/
.config/BraveSoftware/
.config/DeltaChat/
.config/IJHack/
.config/Signal/
.config/autojack/
.config/autostart/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/gedit/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/ibus/
.config/libreoffice/
.config/lsp-plugins/
.config/mimeapps.list
.config/nautilus/
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/nvim/bundle/
.config/pop-shell/
.config/pulse/
.config/sublime-merge/
.config/sublime-text-3/
.config/teamviewer/
.config/user-dirs.dirs
.config/user-dirs.locale
.duc.db
.gitconfig
.gnupg/
.histfile
.home.git/
.lesshst
.local/
.log/
.password-store/
.pipewire-media-session/
.pki/
.ssh/
.sudo_as_admin_successful
.themes/
.thunderbird/
.var/
.zcompdump
.zsh_history
Apps/
Arbeit/
Privat/
