body { text-align: center; background-color: whitesmoke; }

a { text-decoration: none; color: steelblue; }
a:hover { text-decoration: underline; }

button { 
    margin: 6px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    font-family: monospace, monospace;
}

button.active { background: goldenrod; }
button.inactive { background: gainsboro; }
button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

code {
    font-family: monospace, monospace;
    font-size: 0.9em;
    color: darkgoldenrod;
    padding: 2px;
}

header {
    height: 7em;
    line-height: 7em;
    font-family: monospace, monospace;
    font-weight: bold;
}

header h1 { font-size: 1em; color: darkslategray; }

nav {
    height: 3em;
    line-height: 3em;
    color: slategray;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
}

footer {
    height: 3em;
    line-height: 3em;
    color: slategray;
    border-top: 1px solid slategray;
}

footer a { color: slategray; }

main {
    min-height: calc(100vh - 17em - 3px);
    max-width: clamp(20em, 60vw, 60em);
    margin: 2em auto;
    padding: 0 2vw;
    line-height: 1.25;
}

main h1 {
    padding-top: 1em;
    padding-bottom: 0.25em;
    font-size: 2em;
    color: darkslategray;
}

main h2 {
    padding-top: 0.75em;
    font-size: 1.3em;
    color: darkslategray;
}

main h3 {
    padding-top: 0.5em;
    font-size: 1.1em;
    color: darkslategray;
    font-weight: bolder;
}

main p {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    font-size: 1em;
}

