body { text-align: center; background-color: whitesmoke; }
a { text-decoration: none; color: steelblue; }
a:hover { text-decoration: underline; }

code { font-family: monospace, monospace; }

header {
    height: 7em;
    line-height: 7em;
    font-family: monospace, monospace;
    font-weight: bold;
}

header h1 { font-size: 1em; color: slategray; }

nav {
    height: 3em;
    line-height: 3em;
    color: slategray;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
}

footer {
    height: 3em;
    line-height: 3em;
    color: slategray;
    border-top: 1px solid slategray;
}

footer a { color: slategray }

main {
    min-height: calc(100vh - 17em - 3px);
    max-width: clamp(20em, 60vw, 60em);
    margin: 2em auto;
    padding: 0 2vw;
    line-height: 1.25;
}

main h1 {
    padding-top: 1em;
    font-size: 2em;
}

main h2 {
    padding-top: 0.75em;
    font-size: 1.3em;
    color: slategray;
}

main h3 {
    font-weight: bolder;
    color: slategray;
    font-size: 1.1em;
}

main p {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    font-size: 1em;
}

